%visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: toRem(1);
  margin: calc(#{toRem(1)} * -1);
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: toRem(1);
}
