.attributes-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: toRem(8);
    padding: toRem(12);
}

.attributes-table__main-wrapper {
    display: flex;
    gap: toRem(8);
    width: 100%;
    justify-content: center;
}

.attributes-table__error {
    @include field-error;
}
