.no-data-message {
  display: grid;
  place-items: center;
  grid-gap: toRem(12);
}

.no-data-message__icon {
  color: var(--text-primary-light);
  font-size: toRem(48);
}

.no-data-message__message {
  color: var(--text-primary-light);
  font-size: toRem(18);
}
